<!DOCTYPE html>
<html lang="en">
<style>
table, th, td {
  border:1px solid black;
}
</style>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
	     $(document).ready(function() {
         $("#ajaxBtn").click(function(){
           $.ajax({
             type:"get",
             url:"https://marishop.herokuapp.com/",
             dataType:"json",
             success:function(res){//result변수로 응답정보가 전달됨
               console.log(res);
               $("#1").text('Destruction Stone Fragment: ' + res["Moon's Breath"]);
             }
           });//ajax
         });//click
       });//ready
     </script>
     <title>ratio</title>
  </head>
  <body>
    <button id="ajaxBtn">Press</button>
    <table style="width:100%">
      <tr>
        <th>item</th>
        <th>price</th>
      </tr>
      <tr>
        <td id="Destruction Stone Fragment">Destruction Stone Fragment</td>
        <td id="Destruction Stone FragmentP"> <%= data["Destruction Stone Fragment"] %> </td>
      </tr>
      <tr>
        <td id="Guardian Stone Fragment">Guardian Stone Fragment</td>
        <td id="Guardian Stone FragmentP"> <%= data["Guardian Stone Fragment"] %> </td>
      </tr>
      <tr>
        <td id="Destruction Stone">Destruction Stone</td>
        <td id="Destruction StoneP"> <%= data["Destruction Stone"] %> </td>
      </tr>
      <tr>
        <td id="Guardian Stone">Guardian Stone</td>
        <td id="Guardian StoneP"> <%= data["Guardian Stone"] %> </td>
      </tr>
      <tr>
        <td id="Guardian Stone Crystal">Guardian Stone Crystal</td>
        <td id="Guardian Stone CrystalP"> <%= data["Guardian Stone Crystal"] %> </td>
      </tr>
      <tr>
        <td id="Destruction Stone Crystal">Destruction Stone Crystal</td>
        <td id="Destruction Stone CrystalP"> <%= data["Destruction Stone Crystal"] %> </td>
      </tr>
      <tr>
        <td id="Simple Oreha Fusion Material">Simple Oreha Fusion Material</td>
        <td id="Simple Oreha Fusion MaterialP"> <%= data["Simple Oreha Fusion Material"] %> </td>
      </tr>
      <tr>
        <td id="Harmony Shard Pouch (S)">Harmony Shard Pouch (S)</td>
        <td id="Harmony Shard Pouch (S)P"> <%= data["Harmony Shard Pouch (S)"] %> </td>
      </tr>
      <tr>
        <td id="Life Shard Pouch (S)">Life Shard Pouch (S)</td>
        <td id="Life Shard Pouch (S)P"> <%= data["Life Shard Pouch (S)"] %> </td>
      </tr>
      <tr>
        <td id="Honor Shard Pouch (S)">Honor Shard Pouch (S)</td>
        <td id="Honor Shard Pouch (S)P"> <%= data["Honor Shard Pouch (S)"] %> </td>
      </tr>
      <tr>
        <td id="Solar Grace">Solar Grace</td>
        <td id="Solar GraceP"> <%= data["Solar Grace"] %> </td>
      </tr>
      <tr>
        <td id="Caldarr Fusion Material">Caldarr Fusion Material</td>
        <td id="Caldarr Fusion MaterialP"> <%= data["Caldarr Fusion Material"] %> </td>
      </tr>
      <tr>
        <td id="Basic Oreha Fusion Material">Basic Oreha Fusion Material</td>
        <td id="Basic Oreha Fusion MaterialP"> <%= data["Basic Oreha Fusion Material"] %> </td>
      </tr>
      <tr>
        <td id="Harmony Leapstone">Harmony Leapstone</td>
        <td id="Harmony LeapstoneP"> <%= data["Harmony Leapstone"] %> </td>
      </tr>
      <tr>
        <td id="Harmony Shard Pouch (M)">Harmony Shard Pouch (M)</td>
        <td id="Harmony Shard Pouch (M)P"> <%= data["Harmony Shard Pouch (M)"] %> </td>
      </tr>
      <tr>
        <td id="Life Leapstone">Life Leapstone</td>
        <td id="Life LeapstoneP"> <%= data["Life Leapstone"] %> </td>
      </tr>
      <tr>
        <td id="Life Shard Pouch (M)">Life Shard Pouch (M)</td>
        <td id="Life Shard Pouch (M)P"> <%= data["Life Shard Pouch (M)"] %> </td>
      </tr>
      <tr>
        <td id="Honor Leapstone">Honor Leapstone</td>
        <td id="Honor LeapstoneP"> <%= data["Honor Leapstone"] %> </td>
      </tr>
      <tr>
        <td id="Honor Shard Pouch (M)">Honor Shard Pouch (M)</td>
        <td id="Honor Shard Pouch (M)P"> <%= data["Honor Shard Pouch (M)"] %> </td>
      </tr>
      <tr>
        <td id="Great Honor Leapstone">Great Honor Leapstone</td>
        <td id="Great Honor LeapstoneP"> <%= data["Great Honor Leapstone"] %> </td>
      </tr>
      <tr>
        <td id="Solar Blessing">Solar Blessing</td>
        <td id="Solar BlessingP"> <%= data["Solar Blessing"] %> </td>
      </tr>
      <tr>
        <td id="Star's Breath">Star's Breath</td>
        <td id="Star's BreathP"> <%= data["Star's Breath"] %> </td>
      </tr>
      <tr>
        <td id="Harmony Shard Pouch (L)">Harmony Shard Pouch (L)</td>
        <td id="Harmony Shard Pouch (L)P"> <%= data["Harmony Shard Pouch (L)"] %> </td>
      </tr>
      <tr>
        <td id="Moon's Breath">Moon's Breath</td>
        <td id="Moon's BreathP"> <%= data["Moon's Breath"] %> </td>
      </tr>
      <tr>
        <td id="Life Shard Pouch (L)">Life Shard Pouch (L)</td>
        <td id="Life Shard Pouch (L)P"> <%= data["Life Shard Pouch (L)"] %> </td>
      </tr>
      <tr>
        <td id="Honor Shard Pouch (L)">Honor Shard Pouch (L)</td>
        <td id="Honor Shard Pouch (L)P"> <%= data["Honor Shard Pouch (L)"] %> </td>
      </tr>
      <tr>
        <td id="Solar Protection">Solar Protection</td>
        <td id="Solar ProtectionP"> <%= data["Solar Protection"] %> </td>
      </tr>
    </table>
  </body>
</html>
